body {
  font-size: 12px !important;
}

.dropdown-item {
  font-size: 12px !important;
}

.btn {
  font-size: 12px;
}

.form-control {
  font-size: 12px;
}

.login-form {
  width: 40%;
  margin: auto;
  margin-top: 15%;
  background-color: #ddd;
  padding: 50px;
  border-radius: 10px;
}